body{ 
background-color: #a8a;
}

#principal{
	width: 900px;
	height: 300px;
/*background-image: url("imagenes/cerebro.png");*/
}

.principalb{
	border:1px solid #000; 
          font-family:arial, helvetica, sans-serif; 
          padding: 10px 10px 10px 10px; 
          font-weight:bold; text-align: center; 
          color: #000;
          background-color: #8aa; 
          height: 35px; 
          width: 145px
          text-align: center;
}

h1{
	color: #510;
}

h5{
  font-size: 1.5em;
color: #00d;
padding: 0px;
margin: 0px
}

h3{
	background-color: #0000ff;
	color: white;
}

img{

	width: 100px;
	height: 100px;
	}



#imagenes {
    margin: 0 auto;
    width: 625px;
    z-index: 1;
}

#imagenes div {
    float: left;
    width: 100px;
    height: 100px;
    background: #0f00ff;
    margin: 5px;
    padding: 5px;
    border: 1px solid #999;
    cursor: pointer;
    border-radius: .5em;
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    z-index: 2;
}

#imagenes div img {
    border: none;
    z-index: 3;
}


#botonera{
    text-align: center;
    padding: 20px;
}

.opacity {
    opacity: .6;
    filter: alpha(opacity=60);
}

.link {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    background: #d54500;
    padding: 5px 10px;
    border-radius: .5em;
}

.bot {
    font-size: 18px;
    color: #000;
    background: #c0c0c0;
    padding: 5px 10px;
    border-radius: .5em;
    border: 1px solid #000;
}

.bot:hover {
    background: #d7d7d7;
}



.boton{
          border:1px solid #7d99ca; 
          font-family:arial, helvetica, sans-serif; 
          padding: 10px 10px 10px 10px; 
          text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
          font-weight:bold; text-align: center; 
          color: #F1F2FB;
          background-color: #0B1387; 
          height: 35px; 
          width: 145px
          text-align: center;
          }






.estilo_botones{
          border:1px solid #7d99ca; 
          font-family:arial, helvetica, sans-serif; 
          padding: 10px 10px 10px 10px; 
          text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
          font-weight:bold; text-align: center; 
          color: #F1F2FB;
          background-color: #0B1387; 
          height: 35px; 
          width: 145px
          text-align: center;
          }